h2
{
    color: aqua;
    background-color: black;
    text-align: center;
}
#external
{
    color:black;
    background-color: burlywood;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}